<footer class=
        "d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark w-100 fixed-bottom"
>
    <p class="col-md-4 mb-0 text-muted">© 2023 My Company, Inc</p>

    <div class="nav col-md-4 justify-content-end">
        <span class="col-md-4 mb-0 text-muted">My Website</span>
    </div>
</footer>