    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <div class="d-flex justify-content-center w-100 p-3">
            <h1>About page!</h1>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/end.ejs') %>
