    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <div class="d-flex justify-content-center w-100 p-3">
            <form class="w-25">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                </div>

                <div class="d-flex justify-content-center w-100">
                    <button type="button" class="btn btn-primary btn-block mb-4 w-50">Reset password</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/end.ejs') %>
